<!DOCTYPE html><html class=''>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
        <meta charset='UTF-8'>
        <meta name="robots" content="noindex">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Rehersal Bot</title>
    </head>
    <body>
        <div class='container'>
        <h1>Rehersal Bot</h1>
        <div class='chatbox'>            
            <div class="chatbox__messages" style="overflow-y: scroll; height: 92%;" id="chatMessages"></div>            
            <textarea type="text" placeholder="Type Message" id="userMessage" autocomplete="off" rows="1" cols="89"></textarea>
            <button id="micButton"><img class="mic" id="mic" src="images/microphone.png" alt="mic"></button>
            <audio id="botAudio">
                <source type="audio/mpeg">
            </audio>
            <script src="/javascripts/response.js"></script>
            <script src="/javascripts/chatScript.js"></script>
            <script src="/javascripts/record.js"></script>
            <script src="/javascripts/socketRoutes.js"></script>
        </div>
    </body>
</html>